
textarea{
	background: #F6F6F6;
	color: #666;
	font-size: 13px;
	padding: 7px 14px;
	border: 1px solid #B9B9B9;
	border-top-color: #A4A4A4;
	-moz-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-ms-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-o-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-webkit-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 235px;
}



input[type='checkbox'],input[type='radio']{
	
	-webkit-appearance: none;
	-webkit-margin-start: 0;
	-webkit-margin-end: 3px;
	border-radius: 3px;
	border: 1px dotted #A0A0A0;
	display: inline-block;
	height: 24px;
	margin-bottom: 0;
	margin-top: -3px;
	position: relative;
	top: 3px;
	vertical-align: baseline;
	width: 25px;
}

input[type="checkbox"]:checked::before,input[type="radio"]:checked::before {
	color: gray;
	content: url('img/checkmark.jpg');
	font-size: 13px;
	height: 16px;
	left: 2px;
	position: absolute;
	top:3px;
	left:3px
}



input:focus,
textarea:focus{
	background: #fff;

}




.FORM-field-row.little p .INPUT-typeDate{
	font-size: 11px;
	padding: 4px 4px 4px 8px;

}


.INPUT-typeDate{
	background-image: url(img/little_date_icon.png);
	background-repeat: no-repeat;
	width: 100px;
	background-position: right;
	padding: 4px 4px 4px 12px;
}


