	.body{
		background-color:white;
	}
	
	.menu{
		position:fixed;
		width:100%;
		background-color:rgba(0,0,0,0.3);
		height:36px;
		top:0px;
		left:0px;
		padding:0px 0px 0px 310px;
		box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
	}

	.docLet-widget{
		cursor:pointer;
		position:absolute;
		z-index: 100000
	}
	
	.docLet-widget:hover{
		background-color:rgba(0,0,0,0.3)
	}
	
	.docLet-widget:hover button,.docLet-widget:hover .dragg_handle{
		display:block;
	}
	
	.docLet-widget button{
		display:none;
		margin:2px;
	}
	
	.docLet-widget .dragg_handle{
		clear: both;
		display:none;
		width:100%;
		background-color:#666;
		text-align:center;
		padding:3px 0px;
		font-family:Helvetica;
		color:#fff;
		position:absolute;
		bottom:0px
	}
	
	.docLet-widget.x{
		width:33px;
		height:100px;
		position:fixed;
		top:2px;
		left:2px
	}
	
	
	.docLet-widget.text{
		width:290px;
		min-width:100px;
		min-height:80px;
		position:fixed;
		top: 5px;
		left: 5px;
	}
	
	
	.docLet-widget.text .text{
		border:solid 5px rgba(255,0,0,0.4);
		background:transparent;
		margin-bottom:5px;
		height:80%;
		font-family:Helvetica;
		overflow:hidden;
		line-height: 17px;
		letter-spacing: 0px;
	}
	
	
	
	.docLet-widget.text > span{
		position:absolute;
		bottom:24px
	}
	

	.docLet-widget.text.date{
		width:210px;
		top: 2px;
		left: 2px;
	}

	.docLet-widget.text.date input{
		border:solid 5px rgba(255,0,0,0.4);
		background:transparent;
		margin-bottom:5px;
		font-family:Helvetica;
		overflow:hidden;
		line-height: 17px;
		letter-spacing: 0px;
		font-size:15px;
		width:198px
	}
	
	
	
	
	.draggIcon{
		background-image:url(img/draggIcon.png);
		width:15px;
		height:15px;
		margin:0px auto
	}
	
	
	
	
	
	
	
	
	
	
@media print{
	.menu{
		display:none
	}
	
	.docLet-widget.text .text,.docLet-widget.text.date input{
		border:solid 5px rgba(0,0,0,0);
	}
	
	input[type='checkbox'],input[type='radio']{
		border:solid 5px rgba(0,0,0,0);
	}
	
	.ui-resizable-se{
		display:none
	}
}
