	.body{
		background-color:white;
	}
	
	.menu{
		position:fixed;
		width:100%;
		background-color:rgba(0,0,0,0.3);
		height:36px;
		top:0px;
		left:0px;
		padding:0px 0px 0px 340px;
		box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.1);
	}

	.docLate-widget{
		cursor:pointer;
		position:absolute;
		z-index: 10000
	}

	
	.docLate-widget:hover{
		background-color:rgba(0,0,0,0.65);
		box-shadow: 0px 0px 15px rgba(0,0,0,0.5)
	}
	
	.docLate-widget:hover .text{
		color:#fff;
	}
	
	.docLate-widget:hover input{
		color:#fff;
	}
	
	.docLate-widget:hover button,.docLate-widget:hover .dragg_handle,.docLate-widget:hover input.widgetName{
		display:block;
	}
	
	.docLate-widget button{
		display:none;
		margin:2px;
	}
	
	.docLate-widget .dragg_handle{
		clear: both;
		display:none;
		width:100%;
		background-color:#666;
		text-align:center;
		padding:3px 0px;
		font-family:Helvetica;
		color:#fff;
		position:absolute;
		bottom:0px
	}
	
	
	.docLate-widget.text{
		width:330px;
		min-width:160px;
		min-height:80px;
	}
	
	.docLate-widget.text.x{
		width:120px;
	}
	
	
	.docLate-widget.text .text, .docLate-widget.text.date .dateInput{
		border:solid 5px rgba(255,0,0,0.4);
		background:transparent;
		margin-bottom:5px;
		height:80%;
		font-family:Helvetica;
		overflow:hidden;
		line-height: 17px;
		letter-spacing: 0px;
	}
	
	
	
	.docLate-widget.text > span{
		position:absolute;
		bottom:24px
	}
	

	.docLate-widget.text.date{
		width:330px;

	}
	
	

	
	
	
	.draggIcon{
		background-image:url(img/draggIcon.png);
		width:15px;
		height:15px;
		margin:0px auto
	}
	
	
	
	
	
	/* LOCKED */
	
	.docLate-widget-locked{
		cursor:pointer;
		position:absolute;
		z-index: 10000
	}

	
	.docLate-widget-locked:hover{
		
	}
	
	.docLate-widget-locked button{
		display:none;
		margin:2px;
	}
	
	.docLate-widget-locked .dragg_handle{
		display:none;
	}
	
	.docLate-widget-locked.x{
		width:33px;
		height:100px;
	}
	
	
	.docLate-widget-locked.text{
		width:330px;

	}
	
	
	
	
	
	.docLate-widget-locked .text{
		border:solid 5px rgba(255,0,0,0.2);
		background:transparent;
		margin-bottom:5px;
		height:80%;
		font-family:Helvetica;
		overflow:hidden;
		line-height: 17px;
		letter-spacing: 0px;
	}
	
	.docLate-widget-locked.x input{
		border:solid 5px rgba(255,0,0,0.2);
		background:transparent;
		margin-bottom:5px;
		font-family:Helvetica;
		overflow:hidden;
		line-height: 17px;
		letter-spacing: 0px;
	}
	
	.docLate-widget-locked .text:hover, .docLate-widget-locked.x input:hover{
		border:solid 5px rgba(255,0,0,0.5);
		cursor:pointer
	}
	
	.docLate-widget-locked.text.date input{
		border:solid 5px rgba(255,0,0,0.2);
		background:transparent;
		margin-bottom:5px;
		font-family:Helvetica;
		overflow:hidden;
		line-height: 17px;
		letter-spacing: 0px;
		font-size:15px;
		width:198px
	}
	
	.docLate-widget-locked.text.date input:hover{
		border:solid 5px rgba(255,0,0,0.5);
		cursor:pointer

	}
	
	
	
	
	
	/* FORM INPUT ETC*/
	
	
	
	.docLate-textarea{
		background: #F6F6F6;
		color: #666;
		font-size: 13px;
		padding: 7px 14px;
		border: 1px solid #B9B9B9;
		border-top-color: #A4A4A4;
		-moz-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
		-ms-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
		-o-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
		-webkit-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
		box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		width: 235px;
	}
	
	
	
	.docLate-checkbox{
		-webkit-appearance: none;
		-webkit-margin-start: 0;
		-webkit-margin-end: 3px;
		border-radius: 3px;
		border: solid 5px rgba(255, 0, 0, 0.4);
		display: inline-block;
		height: 31px;
		margin-bottom: 0;
		margin-top: -3px;
		position: relative;
		top: 3px;
		vertical-align: baseline;
		width: 33px;
	}
	
	
	input[type='checkbox'].docLate-checkbox:checked::before{
		color: gray;
		content: url('img/checkmark.jpg');
		font-size: 13px;
		height: 16px;
		left: 2px;
		position: absolute;
	}
	
	
	
	input:focus,
	textarea:focus{
		background: #fff;
	
	}
	
	
	
	
	.FORM-field-row.little p .INPUT-typeDate{
		font-size: 11px;
		padding: 4px 4px 4px 8px;
	
	}
	
	
	.INPUT-typeDate{
		background-image: url(img/little_date_icon.png);
		background-repeat: no-repeat;
		width: 100px;
		background-position: right;
		padding: 4px 4px 4px 12px;
	}
	

	input.widgetName{
		width:180px;
		display:none;
		color:#000;
		background-color:#666;
		height:17px
	}



	/* BARCODE */
	
	.docLate-widget.text.barcode{
		height:150px
	}
	
	.docLate-widget.text.barcode .text ,.docLate-widget-locked.text.barcode .text{
		margin:0px auto;
		width:190px;
		text-align:center
	}





	/* PRINTER CSS */
	
	
	
@media print{
	img{
		width:100%;
		margin:240px
	}
	.menu{
		display:none
	}
	
	.ui-resizable-se{
		display:none
	}
	

	
	.docLate-widget.text .text{
		border: solid 5px rgba(255, 0, 0, 0);
	}
	
	.docLate-widget-locked.text .text{
		border: solid 5px rgba(255, 0, 0, 0);
	}
	
	.docLate-widget.text.date .dateInput{
		border: solid 5px rgba(255, 0, 0, 0);
	}
	
	.docLate-widget-locked.text.date .dateInput{
		border: solid 5px rgba(255, 0, 0, 0);
	}
	
	.docLate-checkbox{
		border: solid 5px rgba(255, 0, 0, 0);
	}
	
	.docLate-widget-locked.x input{
		border: solid 5px rgba(255, 0, 0, 0);
	}
}
